body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  overflow: auto;
  background: #000; /* fallback */
  position: relative;
}

/* Background image layer */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("../IMG_0244.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  filter: blur(8px);
  transform: scale(1.08); /* avoids blur edges */
  z-index: -2;
}

/* Dark color backdrop */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.55); /* darkness level */
  z-index: -1;
}

a {
  color: white;
  font-size: 14px;
}
#main {
  width: 100%;
}
#wrap {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 680px;
  margin-top: 10px;
}
#text {
  width: 272px;
  height: 560px;
  left: 188px;
  top: 80px;
  position: absolute;
}
#code {
  display: none;
  color: rgb(196, 255, 255);
  font-size: 16px;
  margin-top: 70px;
  line-height: 25px;
  font-size: larger;
  font-weight: bolder;
}
#clock-box {
  position: absolute;
  left: 60px;
  top: 550px;
  font-size: 28px;
  display: none;
}
#clock-box a {
  font-size: 28px;
  text-decoration: none;
}
#clock {
  margin-left: 48px;
}
#clock .digit {
  font-size: 64px;
}
#canvas {
  margin: 0 auto;
  width: 1100px;
  height: 680px;
}
#error {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  display: none;
}
.hand {
  cursor: pointer;
}
.say {
  margin-left: 5px;
}
.space {
  margin-right: 150px;
}

#message-box{
  position: absolute;
  margin-top:450px;
  font-size: 25px;
  font-family: monospace;

}